# Core functionality - changes here should be rare!
/src/app.py                   @Tarek9100
/src/backend/database.py      @Tarek9100
/src/backend/routers/auth.py  @Tarek9100

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tarek9100
